---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Read+a+book
    headers:
      Authorization:
      - OAuth oauth_consumer_key="kc63ltjxiMyNfuc1SPwQkRVAv", oauth_nonce="ad7623ba2f31e00f8b3c40550690ee2e",
        oauth_signature="pYJqj4aS9afJk%2BSoXj5q8Y%2BdVzE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1591378048", oauth_token="1268934831108288512-kaeRfMbzlz5XgJfPDRhFsXKPWDCJUC",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 05 Jun 2020 17:27:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0f24caf219f4b5e8259ca4ff7b9dbce1
      X-Response-Time:
      - '55'
      X-Transaction:
      - 00af3c2600fc696e
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Fri Jun 05 17:27:28 +0000 2020","id":1268957625242152960,"id_str":"1268957625242152960","text":"Read
        a book","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/grantcottle.com\" rel=\"nofollow\"\u003etw-achievements\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1268934831108288512,"id_str":"1268934831108288512","name":"Grant
        Cottle","screen_name":"grant_cottle","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 05 15:57:55 +0000 2020","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Fri, 05 Jun 2020 17:27:28 GMT
recorded_with: VCR 6.0.0
